* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fefefe;
  line-height: 1.1;
  background: linear-gradient(to right, rgb(202, 197, 192), rgb(225, 134, 43));
}

header {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      rgba(27, 26, 26, 0.8),
      rgba(27, 26, 26, 0.8)
    ),
    url(hero.jpg);
}

nav {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  padding-top: 20px;
}

.content {
  width: 1280px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-container {
  width: 50%;
}

h1 {
  font-size: 62px;
  margin-bottom: 30px;
}

p {
  font-size: 20;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  background-color: rgb(225, 134, 43);
  margin-top: 70px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #fefefe;
  color: #111;
}
